.row
  = form_for @blog, html: {class: 'col s12'} do |f|
    .row
      .col.s2
      .input-field.col.s8
        = f.text_area :text, class: "materialize-textarea", id: "textarea1"
        =f.label :text, "記事を書く", for: "textarea1"
      .col.s12#blog_submit
        =f.submit :投稿する, class: "waves-effect waves-light blue btn"
